{% extends './base.html' %}

{% block title %} Inicio {% endblock %}

{% block body %}
<h1>Bienvenido a Manuchos Corp</h1>

<h3>!Bienvenido a nuestro sitio web! Estamos encantados de que hayas decidido visitarnos. Aquie encontraras la guia basica de la creacion de una pagina web. </h3>


   <br><div class="row">
      <div class="col-sm-6 redondo mb-3 mb-sm-0">
        <div class="card redondo">
          <div class="card-body redondo">
            <h3 class="card-title">Instalacion Flask</h3>
            <p class="card-text">En este apartado podras encontrar un tutorial de como instalar Flask</p>
            <a href="/instalacion" class="btn btn-primary">Ir a la Instalacion</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6 redondo">
        <div class="card redondo">
          <div class="card-body redondo">
            <h3 class="card-title">Tutorial</h3>
            <p class="card-text">En este apartado encontraras un mini tutorial para la creacion de la pagina web</p>
            <a href="/tutorial" class="btn btn-primary">Ir al tutorial</a>
          </div>
        </div>
      </div>
      </div>
      <br><div class="row">
      <div class="col-sm-6 redondo">
         <div class="card redondo">
           <div class="card-body redondo">
             <h3 class="card-title">Special title treatment</h3>
             <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
             <a href="#" class="btn btn-primary">Go somewhere</a>
           </div>
         </div>
       </div>
       <div class="col-sm-6 redondo">
         <div class="card redondo">
           <div class="card-body redondo">
             <h3 class="card-title">Special title treatment</h3>
             <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
             <a href="#" class="btn btn-primary">Go somewhere</a>
           </div>
         </div>
       </div>
      </div>
      <br><div class="row">
       <div class="col-sm-6 redondo">
         <div class="card redondo">
           <div class="card-body redondo">
             <h3 class="card-title">Special title treatment</h3>
             <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
             <a href="#" class="btn btn-primary">Go somewhere</a>
           </div>
         </div>
       </div>
    </div>

<br><h2>Como usar el sitio</h2>
<h3>Explora Nuestras Páginas: Navega por nuestras diferentes secciones utilizando el menú de navegación en la parte superior de la página.</h3>
<br><h2>Contáctanos</h2>
<h3>¿Tienes preguntas, comentarios o sugerencias? No dudes en contactarnos a través de nuestro formulario de contacto o por correo electrónico en [tu@email.com].
   <br>
   <br>¡Gracias por visitar nuestro sitio web! Esperamos que tengas una experiencia agradable y encuentres lo que estás buscando.</h3>
<br>
<br><h2>En nombre de Manuchos Corp, apreciamos enormemente cualquier contribución que nuestros usuarios deseen hacer para apoyar nuestro trabajo y ayudarnos a mantener nuestros servicios. Si te gusta lo que hacemos y quieres colaborar, considera hacer una donación. Cada pequeña contribución cuenta y nos ayuda a seguir adelante.</h2>
{% endblock %} 
